@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Madimi+One&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400 ;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* body */
/* header foother y textos h1 h2 */
/* card1 y card2 degrades */
/* testimonios y card2 degrades */
/* limpieza general o algo asi */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #242424;
  background-color: #EEEEEE;
}

/* Estilos del header del index */
.headerIndex {
  position: fixed;
  top: 0;
  z-index: 1000;
}
.headerIndex .lineaSup {
  height: 1.8vh;
  background-color: #303030;
}
.headerIndex .navbar-dark.headerIndex__bgNav {
  background-color: #242424;
}
.headerIndex .navbar-dark.headerIndex__bgNav .logo {
  top: 17px;
  left: 123px;
  width: 20vh;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 12vh;
}
@media screen and (max-width: 768px) {
  .headerIndex .navbar-dark.headerIndex__bgNav .logo {
    width: 25vh;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 120px;
    margin-right: 120px;
  }
}
.headerIndex .navbar-dark.headerIndex__bgNav .botonesIconos {
  margin-right: 10vh;
}
@media screen and (max-width: 768px) {
  .headerIndex .navbar-dark.headerIndex__bgNav .botonesIconos {
    display: none;
  }
}
.headerIndex .navbar-dark.headerIndex__bgNav .navbar-nav .dropdown-menu {
  border: 0px;
  background-color: #DFDBD8;
}
.headerIndex .navbar-dark.headerIndex__bgNav .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 1.2rem;
  color: #242424;
}
.headerIndex .navbar-dark.headerIndex__bgNav .navbar-nav .dropdown-menu .dropdown-item:hover {
  font-size: 1.2rem;
  color: #242424;
  background-color: #EEEEEE;
}
.headerIndex .navbar-dark.headerIndex__bgNav .navbar-nav .nav-link.colorAct {
  color: #EEEEEE;
  font-weight: 700;
  border-bottom: 1px solid #EEEEEE;
}
.headerIndex .navbar-dark.headerIndex__bgNav .navbar-nav .nav-link.colorAct:hover {
  color: #C2BEBB;
  border-bottom: 1px solid #C2BEBB;
}
.headerIndex .navbar-dark.headerIndex__bgNav .navbar-nav .nav-link.colorInac {
  color: #DFDBD8;
}
.headerIndex .navbar-dark.headerIndex__bgNav .navbar-nav .nav-link.colorInac:hover {
  color: #EEEEEE;
  border-bottom: 1px solid #C2BEBB;
}

/* Estilos del main del index */
.mainIndex {
  /* Estilos del carousel */
  /* Estilos del lOS ICONOS */
  /* Estilos del las 2 Cads primcipales */
}
.mainIndex .carousel .carousel-inner .carousel-item {
  height: 100vh;
  /* Mapa de colores para titulos */
  /* Mixin de los botones */
}
.mainIndex .carousel .carousel-inner .carousel-item .carousel-item img {
  height: 100%;
  object-fit: cover;
}
.mainIndex .carousel .carousel-inner .carousel-item .carousel-caption {
  left: 15%;
  width: 100%;
}
.mainIndex .carousel .carousel-inner .carousel-item .titulo-principal1 {
  color: #242424;
  font-family: "Madimi One", sans-serif;
  font-weight: 700;
  font-size: 10vh;
  margin-top: 140px;
  text-align: start;
  width: 40vh;
}
.mainIndex .carousel .carousel-inner .carousel-item .titulo-principal2 {
  color: #242424;
  font-family: "Madimi One", sans-serif;
  font-weight: 700;
  font-size: 10vh;
  margin-top: 140px;
  text-align: start;
  width: 40vh;
}
.mainIndex .carousel .carousel-inner .carousel-item .titulo-principal3 {
  color: #DFDBD8;
  font-family: "Madimi One", sans-serif;
  font-weight: 700;
  font-size: 10vh;
  margin-top: 140px;
  text-align: start;
  width: 40vh;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary1 {
  color: #EEEEEE;
  width: 300px;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 0.9rem;
  transition: all 0.5s ease;
  padding: 15px 20px;
  border: none;
  position: relative;
  z-index: 1;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary1::after, .mainIndex .carousel .carousel-inner .carousel-item .btn-primary1::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary1::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #da0016;
  border-radius: 10px;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary1::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(223, 216, 216, 0.2784313725);
  backdrop-filter: blur(5px);
  border-radius: 50px;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary1:hover::before {
  box-shadow: 0 0 5px rgba(218, 0, 22, 0.3411764706), 0 0 25px rgba(218, 0, 22, 0.3411764706), 0 0 50px rgba(218, 0, 22, 0.3411764706), 0 0 100px rgba(218, 0, 22, 0.3411764706);
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary1:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary1:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary2 {
  color: #EEEEEE;
  width: 300px;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 0.9rem;
  transition: all 0.5s ease;
  padding: 15px 20px;
  border: none;
  position: relative;
  z-index: 1;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary2::after, .mainIndex .carousel .carousel-inner .carousel-item .btn-primary2::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary2::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #B9355A;
  border-radius: 10px;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary2::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(223, 216, 216, 0.2784313725);
  backdrop-filter: blur(5px);
  border-radius: 50px;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary2:hover::before {
  box-shadow: 0 0 5px rgba(185, 53, 90, 0.3411764706), 0 0 25px rgba(185, 53, 90, 0.3411764706), 0 0 50px rgba(185, 53, 90, 0.3411764706), 0 0 100px rgba(185, 53, 90, 0.3411764706);
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary2:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary2:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary3 {
  color: #EEEEEE;
  width: 300px;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 0.9rem;
  transition: all 0.5s ease;
  padding: 15px 20px;
  border: none;
  position: relative;
  z-index: 1;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary3::after, .mainIndex .carousel .carousel-inner .carousel-item .btn-primary3::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary3::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #ff1f6d;
  border-radius: 10px;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary3::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(223, 216, 216, 0.2784313725);
  backdrop-filter: blur(5px);
  border-radius: 50px;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary3:hover::before {
  box-shadow: 0 0 5px rgba(255, 31, 109, 0.5294117647), 0 0 25px rgba(255, 31, 109, 0.5294117647), 0 0 50px rgba(255, 31, 109, 0.5294117647), 0 0 100px rgba(255, 31, 109, 0.5294117647);
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary3:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
.mainIndex .carousel .carousel-inner .carousel-item .btn-primary3:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
@media screen and (max-width: 768px) {
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary1 {
    background: #da0016;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary1::before, .mainIndex .carousel .carousel-inner .carousel-item .btn-primary1::after {
    display: none;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary1:hover::before {
    box-shadow: none;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary1:hover::after {
    border-radius: 0;
    transform: none;
    width: auto;
    height: auto;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary1:active::after {
    transform: none;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary2 {
    background: #B9355A;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary2::before, .mainIndex .carousel .carousel-inner .carousel-item .btn-primary2::after {
    display: none;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary2:hover::before {
    box-shadow: none;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary2:hover::after {
    border-radius: 0;
    transform: none;
    width: auto;
    height: auto;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary2:active::after {
    transform: none;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary3 {
    background: #ff1f6d;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary3::before, .mainIndex .carousel .carousel-inner .carousel-item .btn-primary3::after {
    display: none;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary3:hover::before {
    box-shadow: none;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary3:hover::after {
    border-radius: 0;
    transform: none;
    width: auto;
    height: auto;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary3:active::after {
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .mainIndex .carousel .carousel-inner .carousel-item .carousel-caption {
    left: 0%;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .titulo-principal1, .mainIndex .carousel .carousel-inner .carousel-item .titulo-principal2, .mainIndex .carousel .carousel-inner .carousel-item .titulo-principal3 {
    width: 90%;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 20px;
    text-align: center;
  }
  .mainIndex .carousel .carousel-inner .carousel-item .btn-primary1.btn-primary1.btn-primary3 {
    width: 300px;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    border-radius: 0.9rem;
  }
}
.mainIndex .seccionIconos {
  margin-top: 150px;
  margin-bottom: 70px;
}
.mainIndex .seccionIconos .card {
  background-color: #EEEEEE;
  width: 300px;
  border: 0px;
}
.mainIndex .seccionIconos .card .row .col22 {
  padding-top: 10px;
  width: 60px;
}
.mainIndex .seccionIconos .card .row .col23 {
  padding-left: 10px;
}
.mainIndex .seccionIconos .card .row .col23 h5 {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 500;
  color: #242424;
}
.mainIndex .seccionIconos .card .row .col23 p {
  margin-top: -5px;
  font-size: 1rem;
  font-weight: 200;
  color: #242424;
}
@media screen and (max-width: 768px) {
  .mainIndex .seccionIconos {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mainIndex .seccionIconos .card {
    width: 100%;
  }
  .mainIndex .seccionIconos .card .row .col22 {
    margin-bottom: 10px;
    width: 50px;
  }
  .mainIndex .seccionIconos .card .row .col23 h5 {
    font-size: 1rem;
  }
  .mainIndex .seccionIconos .card .row .col23 p {
    font-size: 0.8rem;
  }
}
.mainIndex .cardsPrincipal {
  margin-bottom: 150px;
}
.mainIndex .cardsPrincipal .hombreMujer .card {
  background: rgba(255, 0, 85, 0);
  border: 0px;
  transition: all 0.3s ease;
}
.mainIndex .cardsPrincipal .hombreMujer .card:hover {
  transform: scale(1.02);
}
.mainIndex .cardsPrincipal .hombreMujer .card:hover img {
  filter: brightness(40%);
}
.mainIndex .cardsPrincipal .hombreMujer .card img {
  width: 100%;
  height: auto;
  border-radius: 24px;
  filter: brightness(70%);
  transition: filter 0.3s ease;
}
.mainIndex .cardsPrincipal .hombreMujer .card .card-img-overlay {
  width: 100%;
  height: 100%;
}
.mainIndex .cardsPrincipal .hombreMujer .card .card-img-overlay .card-title {
  padding-top: 50px;
  padding-left: 30px;
  font-family: "Madimi One", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #EEEEEE;
}
.mainIndex .cardsPrincipal .hombreMujer .card .card-img-overlay p {
  position: absolute;
  padding-top: 120px;
  padding-left: 30px;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  color: #EEEEEE;
  opacity: 0;
  transition: filter 0.9s ease;
}
.mainIndex .cardsPrincipal .hombreMujer .card .card-img-overlay p:hover {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .mainIndex .cardsPrincipal {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mainIndex .cardsPrincipal .hombreMujer .card .card-img-overlay {
    width: 100%;
  }
  .mainIndex .cardsPrincipal .hombreMujer .card .card-img-overlay .card-title {
    font-size: 2rem;
  }
  .mainIndex .cardsPrincipal .hombreMujer .card .card-img-overlay p {
    display: none;
  }
}
.mainIndex .seccionMasVendidas1 {
  top: 150px;
  width: 100%;
  margin-bottom: 150px;
}
.mainIndex .seccionMasVendidas1 .titulo {
  position: relative;
  font-family: "Madimi One", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #242424;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 24px;
  transition: all 0.3s ease;
  background: rgba(255, 0, 85, 0);
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata:hover {
  transform: scale(1.02);
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata:hover .cardImg {
  filter: brightness(40%);
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata:hover .parrafo {
  opacity: 1;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .cardImg {
  filter: brightness(60%);
  transition: filter 0.3s ease;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: bottom;
  border-radius: 24px 24px 24px 24px;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-title1 {
  padding-top: 50px;
  padding-left: 30px;
  font-family: "Madimi One", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #EEEEEE;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .parrafo {
  position: absolute;
  padding-top: 120px;
  padding-left: 30px;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  color: #EEEEEE;
  opacity: 0;
  transition: filter 0.9s ease;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body {
  position: absolute;
  top: 42.5vh;
  height: 30vh;
  border-radius: 24px 0px 24px 24px;
  margin-top: -24px;
  padding: 20px;
  width: 100%;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .card-texto {
  padding-left: 20px;
  width: 25%;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .card-texto .card-title {
  color: #EEEEEE;
  font-size: 2rem;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .card-texto .card-subtitle {
  color: #EEEEEE;
  font-size: 1.5rem;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .card-texto .card-text {
  color: #EEEEEE;
  font-size: 1rem;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .pequeñas-imagenes {
  height: 100%;
  width: 100%;
  margin-top: auto;
  margin-bottom: 25px;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .pequeñas-imagenes .imgPeque {
  filter: brightness(none);
  width: 24%;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0.9;
}
.mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .pequeñas-imagenes .imgPeque:hover {
  transform: scale(1.3);
  opacity: 1;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .mainIndex .seccionMasVendidas1 .d-flex .tarjata .cardImg {
    height: 50vh;
  }
  .mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-title1 {
    text-align: center;
    padding-left: 0px;
    font-size: 2rem;
  }
  .mainIndex .seccionMasVendidas1 .d-flex .tarjata .parrafo {
    display: none;
  }
  .mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body {
    position: absolute;
    top: 15vh;
    padding: 20px;
    width: 100%;
  }
  .mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .card-texto {
    padding-left: 20px;
    width: 100%;
  }
  .mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .card-texto .card-title {
    font-size: 1.5rem;
  }
  .mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .card-texto .card-subtitle {
    font-size: 1.2rem;
  }
  .mainIndex .seccionMasVendidas1 .d-flex .tarjata .card-body .card-texto .card-text {
    font-size: 1rem;
  }
}
.mainIndex .opiniones {
  margin-top: 150px;
}
.mainIndex .opiniones h3 {
  font-family: "Madimi One", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #242424;
}
.mainIndex .opiniones .container-fluid .align-items-center .col-md-4 .cardOpiniones {
  height: auto;
  background-color: #DFDBD8;
  border-radius: 24px;
  margin: 50px 5px;
  padding: 25px 0px 15px 0px;
}
.mainIndex .opiniones .container-fluid .align-items-center .col-md-4 .cardOpiniones .imgOpiniones {
  width: 25%;
  height: 25%;
  margin-top: -55px;
}
.mainIndex .opiniones .container-fluid .align-items-center .col-md-4 .cardOpiniones .card-body {
  height: 350px;
}
.mainIndex .opiniones .container-fluid .align-items-center .col-md-4 .cardOpiniones .card-body .tituloOpiniones {
  font-size: 1.7rem;
  color: #242424;
  font-family: "Madimi One", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mainIndex .opiniones .container-fluid .align-items-center .col-md-4 .cardOpiniones .card-body .subtituloOpiniones {
  font-size: 1.2rem;
  color: #242424;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mainIndex .opiniones .container-fluid .align-items-center .col-md-4 .cardOpiniones .card-body .txtOpiniones {
  font-size: 1rem;
  color: #242424;
  font-weight: 500;
  text-align: left;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .mainIndex .opiniones {
    margin-top: 150px;
  }
  .mainIndex .opiniones h3 {
    font-family: "Madimi One", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #242424;
  }
  .mainIndex .opiniones .container-fluid .align-items-center .col-md-4 .cardOpiniones .card-body {
    height: 220px;
  }
  .mainIndex .opiniones .container-fluid .align-items-center .col-md-4 .cardOpiniones .card-body .tituloOpiniones {
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mainIndex .opiniones .container-fluid .align-items-center .col-md-4 .cardOpiniones .card-body .subtituloOpiniones {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mainIndex .opiniones .container-fluid .align-items-center .col-md-4 .cardOpiniones .card-body .txtOpiniones {
    font-size: 0.8rem;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }
}

/* Bordes de los laterales de los main */
.bordesLateralesMain {
  padding-right: 125px;
  padding-left: 125px;
}

@media screen and (max-width: 768px) {
  .bordesLateralesMain {
    padding-right: 10px;
    padding-left: 10px;
  }
}
/* Estilos del header del la seccion MasVendidas */
.seccionMasVendidas {
  top: 150px;
  width: 100%;
  margin-bottom: 150px;
  margin-right: -12px;
}
.seccionMasVendidas .titulo {
  position: relative;
  font-family: "Madimi One", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #242424;
}
.seccionMasVendidas .masVendidas {
  display: grid;
  grid-template-columns: 4.04fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "G 1 2";
}
.seccionMasVendidas .masVendidas .imgGrande {
  margin-left: -24px;
  grid-area: "G";
  background-color: #DFDBD8;
  border-radius: 24px;
  transition: all 0.3s ease;
}
.seccionMasVendidas .masVendidas .imgGrande:hover {
  transform: scale(1.02);
}
.seccionMasVendidas .masVendidas .imgGrande:hover img {
  filter: brightness(55%);
}
.seccionMasVendidas .masVendidas .imgGrande img {
  border: 0px;
  border-radius: 24px;
  filter: brightness(95%);
  transition: filter 0.3s ease;
}
.seccionMasVendidas .masVendidas .imgGrande .card-img-overlay {
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  opacity: 0;
  transition: filter 0.9s ease;
}
.seccionMasVendidas .masVendidas .imgGrande .card-img-overlay:hover {
  top: 10px;
  opacity: 1;
}
.seccionMasVendidas .masVendidas .imgGrande .card-img-overlay p {
  height: auto;
  margin-top: -10px;
  font-size: 2rem;
  color: #EEEEEE;
}
.seccionMasVendidas .masVendidas .cards1 {
  grid-area: "1";
}
.seccionMasVendidas .masVendidas .cards2 {
  grid-area: "2";
}
.seccionMasVendidas .d-flex .card {
  background-color: #DFDBD8;
  width: auto;
  border: 0px;
  border-radius: 24px;
  transition: all 0.5s ease;
}
.seccionMasVendidas .d-flex .card:hover {
  background-color: #C2BEBB;
  transform: scale(1.05);
}
.seccionMasVendidas .d-flex .card:hover .card-body {
  background-color: #C2BEBB;
}
.seccionMasVendidas .d-flex .card .card-img {
  border-radius: 24px 24px 0px 0px;
}
.seccionMasVendidas .d-flex .card .card-body {
  border-radius: 24px 0px 24px 24px;
  transition: all 0.5s ease;
}
.seccionMasVendidas .d-flex .card .card-body .card-title {
  margin-top: -3px;
  color: #242424;
  font-size: 1.2rem;
}
.seccionMasVendidas .d-flex .card .card-body .card-subtitle {
  margin-top: -3px;
  color: #242424;
  font-size: 1rem;
}
.seccionMasVendidas .d-flex .card .card-body .card-text {
  margin-top: 12px;
  color: #242424;
  font-size: 0.9rem;
}
.seccionMasVendidas .d-flex .card.card2 {
  background-color: rgba(0, 0, 0, 0);
  margin-top: -50px;
}
.seccionMasVendidas .d-flex .card.card2:hover {
  transform: scale(1.1);
}
.seccionMasVendidas .d-flex .card.card2 .card-img {
  margin-top: -50px;
}
.seccionMasVendidas .d-flex .card.card2 .card-body.tarjetas {
  background-color: #DFDBD8;
  margin-top: -180px;
  border-radius: 99px 24px 24px 24px;
}
.seccionMasVendidas .d-flex .card.card2 .card-body.tarjetas .card-title {
  height: 23px;
  color: #242424;
  font-size: 1.5rem;
}
.seccionMasVendidas .d-flex .card.card2 .card-body.tarjetas .card-subtitle {
  margin-top: 130px;
  height: 23px;
  color: #242424;
  font-size: 1.2rem;
}
.seccionMasVendidas .d-flex .card.card2 .card-body.tarjetas .card-text {
  height: 53px;
  margin-bottom: 20px;
  color: #242424;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .seccionMasVendidas {
    margin-top: 100px;
    margin-right: initial;
  }
  .seccionMasVendidas .d-flex .card .card-body .card-title {
    font-size: 1rem;
  }
  .seccionMasVendidas .d-flex .card .card-body .card-subtitle {
    font-size: 0.8rem;
  }
  .seccionMasVendidas .d-flex .card .card-body .card-text {
    font-size: 0.7rem;
  }
  .seccionMasVendidas .d-flex .card .card-body .pequeñas-imagenes img {
    width: 50px;
  }
  .seccionMasVendidas .d-flex .card.card2 {
    margin-top: initial;
  }
  .seccionMasVendidas .d-flex .card.card2 .card-body.tarjetas {
    margin-top: -120px;
  }
  .seccionMasVendidas .d-flex .card.card2 .card-body.tarjetas .card-title {
    font-size: 1rem;
  }
  .seccionMasVendidas .d-flex .card.card2 .card-body.tarjetas .card-subtitle {
    margin-top: 80px;
    font-size: 0.8rem;
  }
  .seccionMasVendidas .d-flex .card.card2 .card-body.tarjetas .card-text {
    font-size: 0.7rem;
  }
  .seccionMasVendidas .d-flex .card.card2 .card-body.tarjetas .pequeñas-imagenes img {
    width: 50px;
  }
}
/* Estilos del header del la seccion Urbano */
.seccionUrbano {
  top: 150px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 150px;
}
.seccionUrbano .titulo {
  font-family: "Madimi One", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #242424;
}
.seccionUrbano .d-flex .card {
  position: relative;
  margin-bottom: 15px;
  width: 30.7vh;
  border: 0px;
  border-radius: 24px;
  transition: all 0.5s ease;
}
.seccionUrbano .d-flex .card:hover {
  transform: scale(1.05);
}
.seccionUrbano .d-flex .card .card-img-top {
  border-radius: 24px 24px 0px 0px;
}
.seccionUrbano .d-flex .card .card-body {
  position: relative;
  border-radius: 24px 0px 24px 24px;
  margin-top: -24px;
  background-color: #DFDBD8;
  padding: 20px;
}
.seccionUrbano .d-flex .card .card-body .card-title {
  color: #242424;
  font-size: 1.2rem;
}
.seccionUrbano .d-flex .card .card-body .card-subtitle {
  color: #242424;
  font-size: 1rem;
}
.seccionUrbano .d-flex .card .card-body .card-text {
  color: #242424;
  font-size: 0.9rem;
}
.seccionUrbano .d-flex .card .card-body .pequeñas-imagenes {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 25px;
  margin-top: -15px;
  border-radius: 24px;
}
.seccionUrbano .d-flex .card .card-body .pequeñas-imagenes img {
  width: 70px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0.8;
}
.seccionUrbano .d-flex .card .card-body .pequeñas-imagenes img:hover {
  transform: scale(1.5);
  opacity: 1;
  z-index: 1000;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .seccionUrbano {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .seccionUrbano .d-flex .card {
    width: 46%;
  }
  .seccionUrbano .d-flex .card .card-body .card-title {
    font-size: 1rem;
  }
  .seccionUrbano .d-flex .card .card-body .card-subtitle {
    font-size: 0.8rem;
  }
  .seccionUrbano .d-flex .card .card-body .card-text {
    font-size: 0.7rem;
  }
  .seccionUrbano .d-flex .card .card-body .pequeñas-imagenes img {
    width: 50px;
  }
}
/* Estilos del grilla */
.grillaMain {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto;
  grid-template-areas: "acordeon productos" "acordeon productos";
}

@media screen and (max-width: 768px) {
  .grillaMain {
    display: block;
  }
}
/* Estilos del Acordeon */
.acordeon {
  grid-area: acordeon;
  margin-top: -20px;
  padding: 20px;
  /* Estilos del Productos */
}
.acordeon .titulo {
  font-family: "Madimi One", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #242424;
}
@media screen and (max-width: 768px) {
  .acordeon .titulo {
    font-size: 1.5rem;
  }
}
.acordeon .accordion .accordion-item {
  background-color: #EEEEEE;
  border: 0px;
}
.acordeon .accordion .accordion-item .accordion-button {
  font-family: "Madimi One", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #242424;
}
.acordeon .accordion .accordion-item .accordion-button {
  background-color: #EEEEEE;
}
.acordeon .accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #DFDBD8;
}
.acordeon .accordion .accordion-item .accordion-body {
  color: #242424;
}
@media screen and (max-width: 768px) {
  .acordeon .accordion .accordion-item .accordion-button {
    font-weight: 400;
    font-size: 1rem;
  }
  .acordeon .accordion .accordion-item .accordion-body {
    font-size: 0.8rem;
  }
}
.acordeon .seccionUrbano {
  grid-area: productos;
  justify-content: center;
}

/* Estilos del bienbenida del HOMBRE-MUJER-COLECCIONES-NOSOTROS */
.bienbenida {
  margin-top: 12vh;
}
.bienbenida .card {
  border: 0px;
}
.bienbenida .card .card-img-overlay .titulo-principal {
  font-family: "Madimi One", sans-serif;
  font-weight: 700;
  font-size: 10vh;
  color: #EEEEEE;
  width: 100%;
}
.bienbenida .card .card-img-overlay .subtitulo {
  color: #DFDBD8;
  font-family: "Madimi One", sans-serif;
  padding-left: 29px;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .bienbenida {
    margin-top: 14.5vh;
    margin-bottom: 30px;
    height: 200px;
  }
  .bienbenida .card .card-img {
    height: 200px;
    width: auto;
    object-fit: cover;
  }
  .bienbenida .card .card-img-overlay .titulo-principal {
    font-size: 3rem;
  }
  .bienbenida .card .card-img-overlay .subtitulo {
    display: none;
  }
}
/* Estilos del main del las COLECCIONES */
.mainColecciones .seccionMasVendidas {
  top: 150px;
  width: 100%;
  margin-bottom: 150px;
}
.mainColecciones .seccionMasVendidas .titulo {
  font-family: "Madimi One", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #242424;
}
.mainColecciones .seccionMasVendidas .d-flex .card {
  width: 40vh;
  border: 0px;
  border-radius: 24px;
  background-color: #242424;
}
.mainColecciones .seccionMasVendidas .d-flex .card .card-img-top {
  border: 0px;
  border-radius: 24px;
}
.mainColecciones .seccionMasVendidas .d-flex .card .card-body {
  border-radius: 24px;
  background-color: #242424;
}
.mainColecciones .seccionMasVendidas .d-flex .card .card-body .card-title {
  color: #242424;
}
.mainColecciones .seccionMasVendidas .d-flex .card .card-body .card-subtitle {
  color: #242424;
}
.mainColecciones .seccionMasVendidas .d-flex .card .card-body .card-text {
  color: #303030;
}
@media screen and (max-width: 768px) {
  .mainColecciones .mainPrimaveraVerano .seccionUrbano {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mainColecciones .mainPrimaveraVerano .seccionUrbano .d-flex .card {
    width: 47%;
  }
  .mainColecciones .mainPrimaveraVerano .seccionUrbano .d-flex .card-body .card-title {
    font-size: 1rem;
  }
  .mainColecciones .mainPrimaveraVerano .seccionUrbano .d-flex .card-body .card-subtitle {
    font-size: 0.9rem;
  }
  .mainColecciones .mainPrimaveraVerano .seccionUrbano .d-flex .card-body .card-text {
    font-size: 0.8rem;
  }
  .mainColecciones .mainPrimaveraVerano .seccionMasVendidas {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mainColecciones .mainPrimaveraVerano .d-flex .card {
    width: initial;
  }
  .mainColecciones .mainPrimaveraVerano .card-body .card-title {
    font-size: 1.2rem;
  }
  .mainColecciones .mainPrimaveraVerano .card-body .card-subtitle {
    font-size: 1;
    color: #242424;
  }
  .mainColecciones .mainPrimaveraVerano .card-body .card-text {
    font-size: 0.9rem;
    color: #242424;
  }
}

/* Estilos del main de NOSOTROS */
.mainNosotros {
  height: auto;
}
.mainNosotros span {
  font-weight: 600;
}
.mainNosotros .bienbenida .titulo-principal {
  color: #EEEEEE;
}
.mainNosotros .bienbenida .subtitulo {
  color: #C2BEBB;
}
.mainNosotros .historia1 {
  margin-bottom: 150px;
  height: 45vh;
}
.mainNosotros .historia1 .imagen img {
  width: auto;
  border-radius: 24px;
}
.mainNosotros .historia1 .texto {
  color: #242424;
}
.mainNosotros .historia1 .texto p {
  margin: 20px 0px;
}
@media screen and (max-width: 768px) {
  .mainNosotros .historia1 {
    height: auto;
  }
  .mainNosotros .historia1 .imagen {
    margin-bottom: 30px;
  }
  .mainNosotros .historia1 .imagen img {
    height: auto;
    width: 100%;
  }
}
.mainNosotros .video {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 48%;
  height: auto;
}
.mainNosotros .video .videoI {
  height: auto;
}
.mainNosotros .video .videoI iframe {
  height: 500px;
  border-radius: 24px;
}
@media screen and (max-width: 768px) {
  .mainNosotros .video {
    margin-top: initial;
    margin-bottom: 60px;
    width: 100%;
  }
  .mainNosotros .video .videoI iframe {
    height: 300px;
  }
}

/* Estilos del footer GENERAL */
.footer {
  padding: 70px;
  grid-area: footer;
  background-color: #242424;
}
.footer .copy {
  margin-top: 30px;
  width: 38%;
}
.footer .copy p {
  font-weight: 300;
  font-size: 0.8rem;
  color: #DFDBD8;
}
.footer .contenedorFooter {
  font-size: 1.5rem;
  margin-bottom: 30px;
  gap: 10px;
}
.footer .contenedorFooter .divNavg .nav1 {
  margin-right: 30px;
  margin-bottom: 30px;
}
.footer .contenedorFooter a {
  color: #DFDBD8;
  text-decoration: none;
}
.footer .contenedorFooter a:hover {
  color: #EEEEEE;
}
.footer .contenedorFooter a:active {
  color: #EEEEEE;
}
.footer .contenedorFooter .htitulo {
  padding-left: 30px;
}
.footer .contenedorFooter h2, .footer .contenedorFooter h3, .footer .contenedorFooter h4 {
  font-style: normal;
  font-family: "Madimi One", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #EEEEEE;
  margin-bottom: 10px;
}
.footer .contenedorFooter ul {
  list-style: none;
}
.footer .contenedorFooter ul li {
  margin-bottom: 10px;
}
.footer .contenedorFooter .casaCentral {
  margin-bottom: 30px;
}
.footer .contenedorFooter .subscribirse {
  width: 30%;
}
.footer .contenedorFooter .subscribirse .contacto {
  padding-top: 60px;
}
.footer .contenedorFooter .subscribirse .contacto .fa-instagram.fa-facebook {
  width: 30px;
  padding-right: 10px;
}
.footer .contenedorFooter .subscribirse form input[type=email] {
  padding: 0 15px;
  max-width: 100%;
  width: 100%;
  height: 42px;
  box-shadow: none;
  vertical-align: middle;
  font-size: 0.8rem;
  background-color: #DFDBD8;
  border-radius: 10px 0px 0px 10px;
}
.footer .contenedorFooter .subscribirse form input[type=email]::placeholder {
  color: #242424;
}
.footer .contenedorFooter .subscribirse form input[type=email]:focus::placeholder {
  font-size: 1rem;
  color: #242424;
}
.footer .contenedorFooter .subscribirse form input[type=submit] {
  height: 100%;
  background-color: #da0016;
  color: #EEEEEE;
  padding: 12px 20px;
  font-size: 1rem;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 400;
  border: 1px solid #da0016;
  border-radius: 0px 10px 10px 0px;
}
.footer .contenedorFooter .subscribirse .logoFooter {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 25px 12px 25px 25px;
  }
  .footer .copy {
    width: 100%;
  }
  .footer .contenedorFooter .divNavg .nav1 {
    margin-left: -30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .footer .contenedorFooter .subscribirse {
    width: 96%;
  }
  .footer .contenedorFooter .subscribirse input[type=submit] {
    width: 130px;
  }
}
.main404 {
  height: 88vh;
}
.main404 .bienbenida {
  height: 100%;
}
.main404 .bienbenida .card {
  height: 100%;
}
.main404 .bienbenida .card .card-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(45%);
}
.main404 .bienbenida .card .card-img-overlay {
  color: #EEEEEE;
  width: 100%;
  padding-left: 30vh;
  padding-right: 30vh;
  font-family: "Madimi One", sans-serif;
}
.main404 .bienbenida .card .card-img-overlay .titulo-principal {
  font-size: 4rem;
}
.main404 .bienbenida .card .card-img-overlay .titulo-principal2 {
  font-size: 10rem;
}
.main404 .bienbenida .card .card-img-overlay .subtitulo {
  align-items: center;
  font-family: "Helvetica Neue", sans-serif;
  color: #DFDBD8;
  font-size: 1.5rem;
}
.main404 .bienbenida .card .card-img-overlay .subtitulo span {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .main404 .bienbenida .card .card-img-overlay {
    padding: 0;
  }
  .main404 .bienbenida .card .card-img-overlay .titulo-principal {
    font-size: 2rem;
  }
  .main404 .bienbenida .card .card-img-overlay .titulo-principal2 {
    font-size: 5rem;
  }
  .main404 .bienbenida .card .card-img-overlay .subtitulo {
    padding: 0px 24px;
    display: block;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=estilosCalzadoUrbano.css.map */
