/* Estilos del header del index */
.headerIndex{
    position: fixed;  
    top: 0;  
    z-index: 1000;
    .lineaSup{
        background-color: $color-calzadoNegro;
    }
    .navbar-dark.headerIndex__bgNav{
        background-color: $color-secundario;
        .logo{
            top: 17px;
            left: 123px;
            width: 247px;
            margin-left: $pix100;
            margin-right: $pix100;
            }
        @media screen and (max-width: 768px){
            .logo{
                margin-left: 90px;
                }
        }

        .navbar-nav{
            .dropdown-menu{
                border: $pix0;
                background-color: $color-botones1;
                .dropdown-item{
                    font-size: $tipografia-1-2rem;
                    color: $color-secundario;
                }
                .dropdown-item:hover{
                    font-size: $tipografia-1-2rem;
                    color: $color-secundario;
                    background-color: $color-principal;
                }
            }
            .nav-link.colorAct{
                color: $color-principal;
                font-weight: 700;
                border-bottom:$pix1 solid $color-principal;
                &:hover{
                    color: $color-cardtexto1;
                    border-bottom: $pix1 solid $color-cardtexto1;
                }
            }
            .nav-link.colorInac{
                color: $color-botones1;
                &:hover{
                    color: $color-principal;
                    border-bottom: $pix1 solid $color-cardtexto1;
                }
            }   
        }
    
    }
}