/* Estilos del header del index */
.headerIndex{
    position: fixed;  
    top: 0;  
    z-index: 1000;
    .lineaSup{
        height: 1.8vh;
        background-color: $color-calzadoNegro;
    }
    .navbar-dark.headerIndex__bgNav{
        background-color: $color-secundario;
        .logo{
            top: 17px;
            left: 123px;
            width: 20vh;
            margin-top: 11px;
            margin-bottom: 11px;
            margin-left: 12vh;
            }
        @media screen and (max-width: 768px){
            .logo{
                width: 25vh;
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: 90px;
                margin-right: 120px;
                }
        }
        .botonesIconos{
            margin-right: 10vh;
        }
        @media screen and (max-width: 768px){
            .botonesIconos{
                display: none;
                }
        }
        .navbar-nav{
            .dropdown-menu{
                border: $pix0;
                background-color: $color-botones1;
                .dropdown-item{
                    font-size: $tipografia-1-2rem;
                    color: $color-secundario;
                }
                .dropdown-item:hover{
                    font-size: $tipografia-1-2rem;
                    color: $color-secundario;
                    background-color: $color-principal;
                }
            }
            .nav-link.colorAct{
                color: $color-principal;
                font-weight: 700;
                border-bottom:$pix1 solid $color-principal;
                &:hover{
                    color: $color-cardtexto1;
                    border-bottom: $pix1 solid $color-cardtexto1;
                }
            }
            .nav-link.colorInac{
                color: $color-botones1;
                &:hover{
                    color: $color-principal;
                    border-bottom: $pix1 solid $color-cardtexto1;
                }
            }   
        }
    
    }
}