/* Estilos del main del index */
.mainIndex{


    /* Estilos del carousel */
    .carousel{
        .carousel-inner{
            .carousel-item{
                height: 100vh;

                .carousel-item img{
                    height: $por100to;
                    object-fit: cover;               
                }
                .carousel-caption {
                    left: 15%;
                    width: $por100to;
                  }
                

                /* Mapa de colores para titulos */
                $colores:(principal1: $color-secundario, principal2: $color-secundario, principal3: $color-botones1);
                @each $clave, $valor in $colores{
                    .titulo-#{$clave} {
                        color:#{$valor};
                        font-family: $tipografia-principal;
                        font-weight: 700;
                        font-size: 7rem;
                        margin-top: 140px;
                        text-align: start;
                        width: 600px;
                    }
                }


                /* Mixin de los botones */
                @mixin botones($color1, $color2, $bgcolor1, $bgcolor2){
                    color: $color1;                   
                    background-color: $bgcolor1;
                    width: 300px;
                    padding: 10px 20px;
                    margin-top: 50px;
                    font-size: $tipografia-2rem;
                    font-weight: 400;
                    border-radius: $borde-radio-btn;
                    transition: all .5s ease;
                    &:hover{
                        transform: scale(1.1);
                        color: $color2;
                        background-color: $bgcolor2;
                    }
                }
                .btn-primary1{
                    @include botones($color-principal, $color-principal, $color-calzadoSuela , $color-boton-hover)
                }
                .btn-primary2{
                    @include botones($color-principal, $color-principal, $color-calzadoSuela , $color-boton-hover)
                }
                .btn-primary3{
                    @include botones($color-principal, $color-principal, $color-boton-hover , $color-boton-hover)
                }
                
                @media screen and (max-width: 768px){
                    .btn-primary1{
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                    .btn-primary2{
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                    .btn-primary3{
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }  
                }
                
                @media screen and (max-width: 768px){
                    .carousel-caption {
                        left: 0%;
                    }                       
                    .titulo-principal1, .titulo-principal2, .titulo-principal3{
                        width: 90%;
                        font-weight: 500;
                        font-size: 3rem;
                        margin-top: 20px;
                        text-align: center;
                    }
                    .btn-primary1.btn-primary1.btn-primary3{
                        width: 300px;
                        text-align: center;
                        font-size: $tipografia-2rem;                       
                        margin-top: 20px;
                        margin-bottom: 20px;
                        font-weight: 400;
                        border-radius: $borde-radio-btn;
                    } 
                }                                       
            }
        }
    }




    /* Estilos del lOS ICONOS */
    .seccionIconos{
        margin-top: $pix100;
        margin-bottom: 70px;
        .card{
            background-color: $color-principal;
            width: 300px;
            border: $pix0;
            .row{
                .col22{
                    padding-top: 10px;
                    width: 60px;
                }
                .col23{
                    padding-left: 10px;
                    h5{ 
                        font-style: normal;
                        font-size: $tipografia-1-5rem;
                        font-weight: 500;
                        color: $color-secundario;         
                    }
                    p{
                        margin-top: -5px;
                        font-size: $tipografia-1rem;
                        font-weight: 200;
                        color: $color-secundario;
                        
                        } 
                }
            }           
        }
    } 
    @media screen and (max-width: 768px){
        .seccionIconos{
            margin-top: 50px;
            margin-bottom: 50px;
            .card{
                width: $por100to;
                .row{
                    .col22{
                        margin-bottom: 10px;
                        width: 50px; 
                    }
                    .col23{
                        h5{
                            font-size: $tipografia-1rem;        
                        }
                        p{
                            font-size: $tipografia-0-8rem;
                            
                        } 
                    }
                }           
            }
        }   
    }


    /* Estilos del las 2 Cads primcipales */
    .cardsPrincipal{
        margin-bottom: $pix100;
        .card{
            background: #ff005500;
            border: $pix0;
            transition: all .3s ease;
                &:hover{
                    transform: scale(1.02);
                }
                
                &:hover img{
                    filter: brightness(40%);
                }
            img{
                width: 100%;
                height: auto;
                border-radius: 24px;
                filter: brightness(70%);
                transition: filter 0.3s ease;
            }
            .card-img-overlay{
                width: 100%;
                height: 100%;
                .card-title{
                    padding-top: 50px;
                    padding-left: 30px;
                    font-family: $tipografia-principal;
                    font-size: $tipografia-3rem;
                    font-weight: 500;
                    color: $color-principal;
                }
                p{
                    position: absolute;
                    padding-top: 120px;
                    padding-left: 30px;
                    width: 100%;
                    height: 100%;
                    font-size: $tipografia-2rem;
                    font-weight: 400;
                    color:$color-principal;
                    opacity: 0;
                    transition: filter 0.9s ease;
                    &:hover{
                        opacity: 1;
                    }
                }                
            }       
        }      
    }
    @media screen and (max-width: 768px){
        .cardsPrincipal{
            margin-top: 50px;
            margin-bottom: 50px;
            .card{
                .card-img-overlay{
                    width: $por100to;
                    .card-title{
                        font-size: $tipografia-2rem;
                    }
                    p{
                        display: none;
                    }                   
                }
            }        
        }
    }


    
    .opiniones{
        margin-top: $pix100;
        h3{
            font-family: $tipografia-principal;
            font-size: $tipografia-2rem;
            font-weight: 500;
            color: $color-secundario;
        }
        .container-fluid{
            .align-items-center{
                .col-md-4{
                    .cardOpiniones {
                        height: auto;
                        background-color: $color-testimonios;
                        border-radius: 24px;
                        margin: 50px 5px;
                        padding: 25px $pix0 15px $pix0;
                    
                        .imgOpiniones {
                            width: 25%;
                            height: 25%;
                            margin-top: -55px;
                        }
                        .card-body{
                            height: 350px;
                            .tituloOpiniones {
                                font-size: 1.7rem;
                                color: $color-secundario;
                                font-family: $tipografia-principal;
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                            .subtituloOpiniones {
                                font-size: $tipografia-1-2rem;
                                color: $color-secundario;
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                            .txtOpiniones {
                                font-size: $tipografia-1rem;
                                color: $color-secundario;
                                font-weight: 500;
                                text-align: left;
                                margin-top: 20px;
                                padding: 20px;
                                margin-bottom: 10px;
                            }
                
                        }
            
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        .opiniones{
            margin-top: $pix100;
            h3{
                font-family: $tipografia-principal;
                font-size: $tipografia-2rem;
                font-weight: 500;
                color: $color-secundario;
            }
            .container-fluid{
                .align-items-center{
                    .col-md-4{
                        .cardOpiniones {
                            .card-body{
                                height: 220px;
                                .tituloOpiniones {
                                    font-size: $tipografia-1-2rem;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                }
                                .subtituloOpiniones {
                                    font-size: $tipografia-1rem;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                }
                                .txtOpiniones {
                                    font-size: $tipografia-0-8rem;
                                    margin-top: 10px;
                                    padding: 10px;
                                    margin-bottom: 5px;
                                }
                    
                            }
                
                        }
                    }
                }
            }
        }    
    }
    
}