/* Bordes de los laterales de los main */
.bordesLateralesMain{   
    padding-right: 125px;
    padding-left: 125px;
}
@media screen and (max-width: 768px){
    .bordesLateralesMain{
        padding-right: 10px;
        padding-left: 10px;
    }       
}







/* Estilos del header del la seccion MasVendidas */

.seccionMasVendidas{
    top: $pix100;
    width: $por100to;
    margin-top: $pix0;
    margin-bottom: $pix100;
    margin-right: -12px;
    .titulo{
        position: relative;
        font-family: $tipografia-principal;
        font-size: $tipografia-2rem;
        font-weight: 500;
        color: $color-secundario;
    }
    .masVendidas{
        display: grid;
        grid-template-columns: 4.04fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "G 1 2";
        .imgGrande{
            margin-left: -24px;
            grid-area: "G";
            background-color: $color-testimonios;
            border-radius: 24px;
            transition: all .3s ease;
            &:hover{
                transform: scale(1.02);
            }
            
            &:hover img{
                filter: brightness(55%);
            }
            img{
                border: $pix0;
                border-radius: 24px;
                filter: brightness(95%);
                transition: filter 0.3s ease;
            }
            .card-img-overlay{
                width: 100%;
                height: 100%;
                padding: 50px 30px;
                opacity: 0;
                transition: filter 0.9s ease;
                &:hover{
                    top: 10px;
                    opacity: 1;
                }
                p{  
                    height: auto;
                    margin-top: -10px;
                    font-size: $tipografia-2rem;
                    color:$color-principal;
                    
                }                
            }    
        }
        
        .cards1{
            grid-area: "1";
        }
        .cards2{
            grid-area: "2";
        } 
    }
    
    
    .d-flex{
        .card{
            background-color: $color-botones1;
            width: auto;
            border: $pix0;
            border-radius: 24px;
            transition: all .5s ease;
                &:hover{
                    background-color: $color-cardtexto1;
                    transform: scale(1.05);
                }
                &:hover .card-body{
                    background-color: $color-cardtexto1;
                }

            .card-img{
                border-radius: 24px 24px 0px 0px;
            }
            .card-body{
                border-radius: 24px 0px 24px 24px;
                transition: all .5s ease;
                .card-title{
                    margin-top: -3px;
                    color: $color-secundario;
                    font-size:$tipografia-1-2rem;
                }
                .card-subtitle{
                    margin-top: -3px;
                    color: $color-secundario;
                    font-size: $tipografia-1rem;
                }
                .card-text{
                    margin-top: 12px;
                    color: $color-secundario;
                    font-size: $tipografia-0-9rem;
                }
            } 
        }
        .card.card2{
            background-color: rgba(0, 0, 0, 0);
            margin-top: -50px;
            &:hover{
                transform: scale(1.1);
            }
            .card-img{
                margin-top: -50px;
            }
            .card-body.tarjetas{
                background-color: $color-botones1;
                margin-top: -180px;
                border-radius: 99px 24px 24px 24px;

                .card-title{
                    height: 23px;
                    color: $color-secundario;
                    font-size:$tipografia-1-5rem;
                }
                .card-subtitle{
                    margin-top: 130px;
                    height: 23px;
                    color: $color-secundario;
                    font-size: $tipografia-1-2rem;
                }
                .card-text{
                    height: 53px;
                    margin-bottom: 20px;
                    color: $color-secundario;
                    font-size: $tipografia-1rem;
                }
            } 
        }
    }
}
@media screen and (max-width: 768px){
    .seccionMasVendidas{
        margin-right: initial;
        .card-body{
            padding-bottom: 50px;
        }
    }
}








/* Estilos del header del la seccion Urbano */
.seccionUrbano{
    top: $pix100;
    width: $por100to;
    margin-top: $pix0;
    margin-bottom: $pix100;
    .titulo{
        font-family: $tipografia-principal;
        font-size: $tipografia-2rem;
        font-weight: 500;
        color: $color-secundario;
    } 
    .d-flex{
        .card {
            position: relative;
            margin-bottom: 15px;
            width: 30.7vh;
            border: $pix0;
            border-radius: 24px;
            transition: all .5s ease;
        
            &:hover {
                transform: scale(1.05);
            }
        
            .card-img-top{
                border-radius: 24px 24px 0px 0px;
            }
        
            .card-body {
                position: relative;
                border-radius: 24px 0px 24px 24px;
                margin-top: -24px;
                background-color: $color-botones1;
                padding: 20px;
        
                .card-title {
                    color: $color-secundario;
                    font-size: $tipografia-1-2rem;
                }
        
                .card-subtitle {
                    color: $color-secundario;
                    font-size: $tipografia-1rem;
                }
        
                .card-text {
                    color: $color-secundario;
                    font-size: $tipografia-0-9rem;
                }
                .pequeñas-imagenes {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    margin-bottom: 25px;
                    margin-top: -15px;
                    border-radius: 24px;
                    
                }
        
                img{
                    width: 70px;
                    height: auto;
                    cursor: pointer;
                    transition: all .5s ease;
                    &:hover {
                        transform: scale(1.5);
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .seccionUrbano{
        margin-top: 50px;
        margin-bottom: 50px;
        
        .d-flex{
            .card{
                width: 46%;
            }
            .card-body{
                .card-title{
                font-size:$tipografia-1rem;
                }
                .card-subtitle{
                    font-size: $tipografia-0-9rem;
                }
                .card-text{
                    font-size: $tipografia-0-8rem;
                }
             }
        }
    }
}






/* Estilos del grilla */
.grillaMain{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    grid-template-areas: "acordeon productos"
                        "acordeon productos";
}
@media screen and (max-width: 768px){
    .grillaMain{
        display: block;
    }  
}

/* Estilos del Acordeon */
.acordeon{
    grid-area: acordeon;
    margin-top: -20px;
    .titulo{
        font-family: $tipografia-principal;
        font-size: $tipografia-2rem;
        font-weight: 500;
        color: $color-secundario;
    }
    padding:20px;
    .accordion-item{
        background-color: $color-principal;
        border: $pix0;
        .accordion-button{
            font-family: $tipografia-principal;
            font-weight: 500;
            font-size: $tipografia-1-5rem;
            color: $color-secundario;
        }
        .accordion-button{
            background-color: $color-principal;
        }
        .accordion-button:not(.collapsed){
            background-color: $color-botones1;
        }
        .accordion-body{
            color: $color-secundario;
        }
        
    }
    
    /* Estilos del Productos */
    .seccionUrbano{
        grid-area: productos;
        justify-content: center;
    }
}