$color-principal: #EEEEEE; /* body */
$color-secundario: #242424; /* header foother y textos h1 h2 */

$color-card1: #242424; /* card1 y card2 degrades */
$color-cardtexto1: #C2BEBB;
$color-botones1: #DFDBD8;

$color-testimonios: #DFDBD8; /* testimonios y card2 degrades */

$color-calzadoNegro: #303030;


$color-boton-hover1: #da001657;
$color-boton-hover11: #dfd8d847;
$color-btnprincipal1: #da0016;

$color-boton-hover2: #B9355A57;
$color-boton-hover22: #dfd8d847;
$color-btnprincipal2: #B9355A;

$color-boton-hover3: #ff1f6d87;
$color-boton-hover33: #dfd8d847;
$color-btnprincipal3: #ff1f6d;

$borde-radio-btn: 0.9rem;

$pix0: 0px;
$pix1: 1px;
$pix100: 150px;

$por100to: 100%;

$tipografia-1rem: 1rem;
$tipografia-1-2rem: 1.2rem;
$tipografia-1-5rem: 1.5rem;
$tipografia-0-8rem: 0.8rem;
$tipografia-0-7rem: 0.7rem;
$tipografia-0-9rem: 0.9rem;
$tipografia-2rem: 2rem;
$tipografia-3rem: 3rem;

$tipografia-principal:"Madimi One", sans-serif;